body{
  margin: 0px;
  padding: 0px;

  width: 100%;
}

.iframe-container{
  display: block;
  margin: auto;
  padding-top: 8%;

  width: 100%;
  height: 700px;
  text-align: center;
}


.vid-poster-container{
  width: 100%;
  text-align: center;
}

.poster{
  width: 90%;
  text-align: center;

display: block;
  margin: auto;

  padding-bottom: 8%;
}
